@using AmDmSite.Models.SiteDataBase
@model PagedList.IPagedList<AmDmSite.Models.SiteDataBase.Song>
@using PagedList.Mvc;

<div style="position: absolute; left: 50%;">
  <span id="notification" style="color:red;font-size:15px; position: relative; left: -50%;"></span>
</div>  
      
<h1>@ViewBag.PerformerName</h1>
@if (ViewBag.PerformerBiography != "")
{
<h3> Биография </h3>
}
<br />
@ViewBag.PerformerBiography
<br />
<div class="h1__info">Список композиций</div>
<table class="items">
    <thead>
        <tr class="top_label">
            <th colspan="2" id="name" style="width : 87%; text-align: left;">
                Композиция @(Html.ActionLink("A-z", "Performer", "Home", new { performerId = ViewBag.PerformerId, page = ViewBag.Page, column = 1, typeAscending = ViewBag.NameType }, null))
            </th>
            <th class="number" id="view">
                Просмотров @(Html.ActionLink("⇅", "Performer", "Home", new { performerId = ViewBag.PerformerId, page = ViewBag.Page, column = 2, typeAscending = ViewBag.SongsType }, null))
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model)
        {
            <tr>
                <td class="artist_name" id="name" style="width : 87%; text-align: left;">
                    @(Html.ActionLink(song.Name, "Song", "Home", new { performerId = song.PerformerId, songNumber = song.Number }, null))
                </td>
                <td></td>
                <td class="number" id="views" style="text-align:center;">@song.ViewsCount</td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Performer", new { ViewBag.PerformerId, page, column = ViewBag.Collumn, typeAscending = ViewBag.AscendType }))
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--Ссылка на автоматически сгенерированный скрипт хаба SignalR -->
    <script src="~/signalr/hubs"></script>
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">

       $(function () {
           var notificationhub = $.connection.notificationHub;
           notificationhub.client.displayMessage = function (message) {
               $('#notification').html("<div class=\"alert alert-info alert-dismissable\"><a href=\"#\" class=\"close\" data-dismiss=\"alert\" aria-label=\"close\">×</a><strong>Update! </strong>"+message+"</div>");
           };
           $.connection.hub.start();

       });
    </script>
}   