@using AmDmSite.Models.SiteDataBase
@model PagedList.IPagedList<AmDmSite.Models.SiteDataBase.Song>
@using PagedList.Mvc;

<style>
    #name {
        width: 85%;
    }

    #views {
        width: 15%;
        text-align: center;
    }
</style>

<h1>@ViewBag.PerformerName</h1>
@if (ViewBag.PerformerBiography != "")
{
<h3> Биография </h3>
}
<br />
@ViewBag.PerformerBiography
<br />
<div class="h1__info">Список композиций</div>
<table class="items">
    <thead><tr class="top_label">
        <th colspan="2">
        Композиция
        @(Html.ActionLink("A-z", "Index", "Home", new { ViewBag.Page, column = 1, typeAscending = ViewBag.NameType }, null))
        </th>
        <th class="number">
        Просмотров
            @(Html.ActionLink("⇅", "Index", "Home", new { ViewBag.Page, column = 2, typeAscending = ViewBag.SongsType }, null))
        </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var song in Model)
        {
            <tr>
                <td class="artist_name" id="name">
                    @(Html.ActionLink(song.Name, "Song", "Home", new { performerId = song.PerformerId, songNumber = song.Number }, null))
                </td>
                <td class="number" id="views">@song.ViewsCount</td>
            </tr>
        }
    </tbody>
</table>

@Html.PagedListPager(Model, page => Url.Action("Performer", new { ViewBag.PerformerId, page }))